<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Consiglia ad un amico</ion-title>
    <ion-buttons slot="end" *ngIf="false">
      <ion-back-button defaultHref="tabs/home" [text]=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="showForm">
    <h4 class="text-align-center">Condividi l'app sui social</h4>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="facebook" size="large" fill="solid" expand="block" (click)="shareOnFacebook()">
            <ion-icon slot="icon-only" name="logo-facebook" class="social-button-icon"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="whatsapp" size="large" fill="solid" expand="block" (click)="shareOnWhatsapp()">
            <ion-icon slot="icon-only" name="logo-whatsapp" class="social-button-icon"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <p class="text-align-center">oppure</p>

    <h4 class="text-align-center">Fai conoscere questa applicazione ad un amico tramite un'e-mail</h4>
  
      <form #form="ngForm" novalidate>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Il tuo Nome</ion-label>
            <ion-input type="text"
              name="nome"
              #nome="ngModel"
              [(ngModel)]="myNome"
              required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Il nome del tuo amico</ion-label>
            <ion-input 
            type="text"
            name="amico"
            #amico="ngModel"
            [(ngModel)]="myAmico"
            required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">L'e-mail del tuo amico</ion-label>
            <ion-input 
            type="email"
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            name="email"
            #email="ngModel"
            [(ngModel)]="myEmail"
            required></ion-input>
          </ion-item>
        </ion-list>
      </form>
      <ion-grid>
        <ion-row>
          <ion-col size="6" offset="3">
            <ion-button expand="block" [disabled]="form.invalid" (click)="sendEmail()">Invia</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>

  <ion-content class="ion-padding" *ngIf="!showForm && mailSent">
    <h4 class="text-align-center bold esito">Invito inviato con successo!</h4>
    <p class="text-align-center">
    <ion-text color="primary">Abbiamo inoltrato il tuo invito a {{myAmico}}</ion-text>
    </p>
  </ion-content>

  <ion-content class="ion-padding" *ngIf="!showForm && !mailSent">
    <h4 class="text-align-center bold esito">Errore!</h4>
    <p class="text-align-center">
    <ion-text color="primary">Si è verificato un errore durante l'invio della mail, ti invitiamo a riprovare più tardi.</ion-text>
    </p>
  </ion-content>
