<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Prega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let cat of categorie" [routerLink]="['../../../tabs/prega/', cat.id]">
      <ion-icon slot="start" [name]="cat.icona"></ion-icon>
      <ion-label>
        {{cat.titolo}}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
