<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Informazioni</ion-title>
    <ion-buttons slot="end" *ngIf="false">
      <ion-back-button defaultHref="tabs/home" [text]=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p>
    <ion-text color="secondary">Questa applicazione è stata realizzata da Ablaweb e Mauro Semproni.<br><br>Edizione per la Famiglia del Murialdo (FdM)</ion-text>
    <img src="assets/imgs/fdm_logo.png">
    <br>
    <ion-text color="secondary" (click)="goToSite('http://www.murialdo.org')">www.murialdo.org</ion-text>
    <br>
    <br>
    <ion-text color="secondary">A cura di</ion-text>
    <br>Alessandro Agazzi, Ilario Soncini, Antonella Agazzi
    <br>
    <br>
    <ion-text color="secondary">Ringraziamenti</ion-text>
    <br>
    I commenti sono tratti, dove indicato, da:<br><br>       
    •	AM – A. De Mello, 5 minuti con Dio, Piemme<br><br>
		•	CC – A. M. Canopi, Il vangelo della consolazione, Paoline<br><br>
		•	CF – A. M. Canopi, Il vangelo della fedeltà, Paoline<br><br>
		•	FC – F. Ciardi, Dov’è il tuo tesoro, là sarà anche il tuo cuore, Città Nuova<br><br>
		•	FDP – F. D. Palmisano, Cieli aperti, San Paolo<br><br>
		•	FFC – F.Fernandez-Carvajal, Parlare con Dio, voll.1,3,4,5,6 e 7, Ares<br><br>
		•	FLC – S. Fausti, Una comunità legge il vangelo di Luca, EDB<br><br>
		•	FMC – S. Fausti, Ricorda e racconta il vangelo, Ancora<br><br>
		•	FMT – S. Fausti, Una comunità legge il vangelo di Matteo, EDB<br><br>
		•	IS – G. Novella, I salmi preghiera dei ragazzi, ElleDiCi<br><br>
		•	LD – AA. VV., Lectio divina per ogni giorno dell’anno, voll. 1,2,4,7,8,16, Queriniana<br><br>
		•	MQ – J. Feder, P. Destoop, Messe quotidiane, voll.1-4, ElleDiCi<br><br>
		•	P1 – V. Paglia, La Parola di Dio ogni giorno 2011, Leonardo International<br><br>
		•	P3 – V. Paglia, La Parola di Dio ogni giorno 2003, Leonardo International<br><br>
		•	PC – P. Castaldi, A.M. Rossi, Vangelo a colazione, Edizioni Messaggero<br><br>
		•	PG – V. Paglia, 365 giorni con Gesù, San Paolo<br><br>
		•	RC – R. Cantalamessa, 5 minuti con Dio, Piemme<br><br>
		•	RCV – R. Cantalamessa, Dal vangelo alla vita, Piemme<br><br>
		•	TL – T. Lasconi, La domenica ai box, Paoline<br><br>
		•	TS – T. Spidlìk, Il vangelo ogni giorno, voll.1-4, Lipa<br><br>
		•	TSF – T. Spidlìk, Il vangelo delle feste, voll.1-4, Lipa<br><br>
    •	Autori vari (come indicato) in Qumran.net
  </p>

</ion-content>
