<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Impostazioni</ion-title>
    <ion-buttons slot="end" *ngIf="false">
      <ion-back-button defaultHref="tabs/home" [text]=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label class="text-small-icon">Aa</ion-label>
      <ion-range min="1" max="4" step="1" snaps="true" ticks="true" (ionChange)="onChangeFontSize()" [(ngModel)]="fontSize">
        <!--<ion-icon size="small" slot="start" name="text"></ion-icon>
        <ion-icon slot="end" name="text"></ion-icon>-->
      </ion-range>
      <ion-label class="text-big-icon">Aa</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
