<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sostienici</ion-title>
    <ion-buttons slot="end" *ngIf="false">
      <ion-back-button defaultHref="tabs/home" [text]=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h4 class="text-align-center bold">Ti è piaciuta quest'app?</h4>
  <p class="text-align-center">Se lo vuoi, aiutaci a migliorarla con un piccolo importo.<br/>Clicca su questa pagina:</p>
  <p class="text-align-center" (click)="goToSite('https://www.paroledicielo.it/site/?page_id=236')">
    <ion-text color="primary">www.paroledicielo.it</ion-text>
  </p>

</ion-content>
