ion-fab-button[data-label] {
    position: relative;
}

ion-fab-button[data-label]::after {
    position: absolute;
    content: attr(data-label);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: var(--ion-color-light, #f4f5f8);
    padding: 9px;
    border-radius: 15px;
    color: #555;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
    text-transform: capitalize;
}

tabs-page {
    --background: #000;
}