<ion-fab #myFab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ng-container *ngFor="let page of pages">
      <ion-fab-button labeled-button *ngIf="page.title != currentPage" 
        [attr.data-label]="page.title" 
        [routerLink]="['/','tabs', page.title]" 
        (click)="buttonClicked(page.title)">
        <ion-icon [name]="page.icon"></ion-icon>
      </ion-fab-button>
    </ng-container>
    <ion-fab-button data-label="condividi" (click)="shareOnWhatsapp()" *ngIf="isVangeloPage">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-tabs #myTabs (ionTabsDidChange)="tabChanged()">
  <ion-tab-bar slot="bottom" *ngIf="false">
    <ion-tab-button tab="oggi">
      <ion-icon name="today"></ion-icon>
      <ion-label>Oggi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prega">
      <ion-icon name="book"></ion-icon>
      <ion-label>Prega</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendario">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preferiti">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Preferiti</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>