<ion-header no-border>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="showToolbar">Vangelo del giorno</ion-title>
    <ion-buttons slot="end" *ngIf="false">
      <ion-back-button defaultHref="tabs/calendario" [text]=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="preghiera && searchEnded" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="container-titolo">
  <p class="text-align-center liturgico semibold">{{preghiera.liturgico}}</p>
  <h1 class="text-align-center semibold">{{preghiera.giorno}}</h1>
  <p class="text-align-center semibold">{{preghiera.santo}}</p>
  </div>

  <div class="clouds"></div>

  <div class="container-preghiera">
    
    <ion-grid>
      <ion-row>
        <ion-col size="8" offset="2" class="text-align-center">
          <ion-chip outline color="danger" (click)="aggiungiPreferiti()" *ngIf="showPreferiti">
            <ion-icon name="heart" color="danger"></ion-icon>
            <ion-label color="danger">Aggiungi ai preferiti</ion-label>
          </ion-chip> 
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <p class="commento"></p>

    <div>
      <p [innerHTML]="preghiera.citazioni" class="text-align-center semibold citazioni"></p>
      <p [innerHTML]="preghiera.abstract" class="text-align-center italic abstract"></p>
      <p [innerHTML]="preghiera.vangelo" class="vangelo"></p>
      <p [innerHTML]="preghiera.commento" class="commento"></p>
    </div>

    <ion-grid>
        <ion-row>
          <ion-col size="8" offset="2" class="text-align-center">
            <ion-chip outline color="danger" (click)="aggiungiPreferiti()" *ngIf="showPreferiti">
              <ion-icon name="heart" color="danger"></ion-icon>
              <ion-label color="danger">Aggiungi ai preferiti</ion-label>
            </ion-chip> 
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="false">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['../../']">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="aggiungiPreferiti()" *ngIf="showPreferiti">
        <ion-icon name="heart"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="shareOnWhatsapp()">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

<ion-content fullscreen *ngIf="!preghiera && searchEnded" [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <div class="container-titolo">
    </div>
    <div class="clouds"></div>
    <div class="container-preghiera">
      <h4 class="text-align-center semibold" style="color:#000">A questa data non c'è alcun vangelo o commento.</h4>
      <ion-grid>
        <ion-row>
          <ion-col size="8" offset="2" class="text-align-center">
            <ion-chip outline color="success" (click)="downloadThis()">
              <ion-icon name="download" color="success"></ion-icon>
              <ion-label color="success">Scarica</ion-label>
            </ion-chip> 
          </ion-col>
        </ion-row>
      </ion-grid>
      <p class="text-align-center" style="color:#000">L'applicazione scarica automaticamente, ogni giorno, i prossimi 7 vangeli a partire dalla data odierna. Puoi comunque decidere di scaricare questo vangelo cliccando sul tasto qui sopra.</p>
    </div>
</ion-content>
