

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.show-background {
    --background: #fff !important;
    --ion-color-base: #fff !important;
}

ion-header {
    &.header-md:after {
      background: none;
    }

    ion-menu-button {
        color: #000;
    }

    ion-title {
        color: #000;
    }
  }

ion-content {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    //--background: linear-gradient(180deg, #74c7ff 0%,#00a2ff 50%, #fff 51%);
    //--ion-color-base: linear-gradient(180deg, #74c7ff 0%,#00a2ff 50%, #fff 51%) !important;
    --background: linear-gradient(180deg, var(--ion-color-liturgico-light) 0%,var(--ion-color-liturgico) 25%, #fff 70%);
    --ion-color-base: linear-gradient(180deg, var(--ion-color-liturgico-light) 0%,var(--ion-color-liturgico) 25%, #fff 70%) !important;
    //--background: lighten(var(--ion-color-liturgico), 50%);
}

.container-titolo {
    position: relative;
    padding: 20px;
    height: var(--ion-container-titolo-height);
}

.container-preghiera {
    position: relative;
    padding: 20px 20px 60px 20px;
    margin-top: 60px;
    background-color: #fff;
    min-height: calc(100% - 120px - var(--ion-container-titolo-height));
    
    p {
        line-height: 1.6em;
    }

    p.commento {
        font-style: italic;
        font-size: var(--ion-p-font-smaller);
        color: #000;
    }

    p.vangelo {
        color: #000;
    }
}

h1 {
    color: #fff;
    margin-top: 0;
}

.weekday {
    text-transform: uppercase;
    color: #00a2ff;
}

.clouds {
    position: absolute;
    height: 60px;
    width: 1500px;
    background-image: url("../../../assets/imgs/cloud.png");
    background-repeat: repeat-x;
    animation-name: cloudy;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cloudy {
    from {left: 0px;}
    to {left: -300px;}
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.liturgico {
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 0;
    letter-spacing: 0.3em;
}

.citazioni {
    color: #555;
}

.abstract {
    color: #ff0000;
    font-style: italic;
}