<ion-header no-border>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="showToolbar">Prega</ion-title>
    <ion-buttons slot="end" *ngIf="false">
      <ion-back-button defaultHref="prega" [text]=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="categoria && preghiere" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="container-titolo">
    <h1 class="text-align-center semibold">{{categoria.titolo}}</h1>
  </div>

  <div class="clouds"></div>

  <div class="container-preghiera">
    <h4 [innerHTML]="categoria.incipit"></h4>
    <p [innerHTML]="categoria.sottotitolo" class="commento"></p>

    <div *ngFor="let prayer of preghiere">
      <h4 *ngIf="id == 6" [innerHTML]="prayer.giorno_della_settimana.nome" class="text-align-center extrabold weekday"></h4>
      <h3 [innerHTML]="prayer.titolo" class="semibold"></h3>
      <div *ngFor="let sub of prayer.sottotitolo">
        <p *ngIf="sub.categoria_id == id" [innerHTML]="sub.testo" class="commento"></p>
      </div>
      <p [innerHTML]="prayer.testo"></p>
    </div>
  </div>

</ion-content>
