ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.show-background {
    --background: #fff !important;
    --ion-color-base: #fff !important;
}

ion-header {
    &.header-md:after {
      background: none;
    }

    ion-menu-button {
        color: #000;
    }

    ion-title {
        color: #000;
    }
  }

ion-content {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    --background: linear-gradient(180deg, #74c7ff 0%,#00a2ff 50%, #fff 51%);
    --ion-color-base: linear-gradient(180deg, #74c7ff 0%,#00a2ff 50%, #fff 51%) !important;
}

.container-titolo {
    position: relative;
    padding: 20px;
    height: 110px;
}

.container-preghiera {
    position: relative;
    padding: 20px;
    margin-top: 60px;
    background-color: #fff;
    color: #000;

    p {
        line-height: 1.6em;
    }

    p.commento {
        font-style: italic;
        font-size: var(--ion-p-font-smaller);
    }
}

h1 {
    color: #fff;
}

.weekday {
    text-transform: uppercase;
    color: #00a2ff;
}

.clouds {
    position: absolute;
    height: 60px;
    width: 1500px;
    background-image: url("../../../assets/imgs/cloud.png");
    background-repeat: repeat-x;
    animation-name: cloudy;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cloudy {
    from {left: 0px;}
    to {left: -300px;}
}