<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <div class="img-container">
      <img class="animation-target" src="assets/imgs/logo.png">
      <h1>Parole di Cielo</h1>
      <h4>per ogni giorno</h4>
      <p>{{version}}</p>
    </div>
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>