#custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width:100%;
    //background-color: #002a3e;


    .img-container {
        display: block;
        width: 100%;
        color: #fff;

        img {
            display: block;
            margin: 0 auto;
            width: 25%;
            height: auto;
        }

        h1 {
            display: block;
            width: 100%;
            font-size: 1.4em;
            text-align: center;
        }

        h4 {
            display: block;
            width: 100%;
            font-size: 1em;
            text-align: center;
        }

        p {
            display: block;
            text-align: center;
            font-size: 0.8em;
            letter-spacing: 0.1em;
            font-weight: 600;
        }
    }
    
  }
  
  .flb {
    //background-color: #01365e;
    background: radial-gradient(#205e8d, #01365e);
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-animation: appear 1s 1  normal ease-out;
    animation: appear 1s 1  normal ease-out;
  }
  .Aligner-item {
    max-width: 50%;
  }
  .Aligner-item--top {
    align-self: flex-start;
  }
  .Aligner-item--bottom {
    align-self: flex-end;
  }
  

  
  @-webkit-keyframes appear {
    0% { opacity: 0% }
    100% { opacity: 100% }
  }

  @keyframes appear {
      0% { opacity: 0% }
      100% { opacity: 100% }
  }



  .animation-target {
    -webkit-animation: animation 5000ms linear both;
    animation: animation 5000ms linear both;
    animation-delay: 1s;
  }
  
  /* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22r%22%2Ce%3A%22b%22%2Cd%3A5000%2CD%3A0%2Cf%3A0%2Ct%3A360%2Cs%3A3%2Cb%3A4%7D%2C%7BT%3A%22k%22%2Ce%3A%22s%22%2Cd%3A1000%2CD%3A0%2Cf%3A%7Bx%3A0%2Cy%3A0%7D%2Ct%3A%7Bx%3A20%2Cy%3A20%7D%2Cs%3A3%2Cb%3A4%7D%5D%7D */
  
  @-webkit-keyframes animation { 
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    0.64% { -webkit-transform: matrix3d(0.836, 0.557, 0, 0, -0.394, 0.924, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.836, 0.557, 0, 0, -0.394, 0.924, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    1.28% { -webkit-transform: matrix3d(0.447, 0.902, 0, 0, -0.776, 0.641, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.447, 0.902, 0, 0, -0.776, 0.641, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    2.54% { -webkit-transform: matrix3d(-0.455, 0.893, 0, 0, -0.951, -0.318, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.455, 0.893, 0, 0, -0.951, -0.318, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.78% { -webkit-transform: matrix3d(-0.971, 0.241, 0, 0, -0.288, -0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.971, 0.241, 0, 0, -0.288, -0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.3% { -webkit-transform: matrix3d(-0.995, -0.1, 0, 0, 0.079, -0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.995, -0.1, 0, 0, 0.079, -0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    5.05% { -webkit-transform: matrix3d(-0.841, -0.54, 0, 0, 0.541, -0.841, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.841, -0.54, 0, 0, 0.541, -0.841, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.29% { -webkit-transform: matrix3d(-0.273, -0.962, 0, 0, 0.965, -0.263, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.273, -0.962, 0, 0, 0.965, -0.263, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    8.61% { -webkit-transform: matrix3d(0.722, -0.692, 0, 0, 0.69, 0.724, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.722, -0.692, 0, 0, 0.69, 0.724, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    11.29% { -webkit-transform: matrix3d(0.999, 0.041, 0, 0, -0.04, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0.041, 0, 0, -0.04, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    12.91% { -webkit-transform: matrix3d(0.946, 0.323, 0, 0, -0.322, 0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.946, 0.323, 0, 0, -0.322, 0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    16.3% { -webkit-transform: matrix3d(0.838, 0.546, 0, 0, -0.546, 0.838, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.838, 0.546, 0, 0, -0.546, 0.838, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    17.22% { -webkit-transform: matrix3d(0.833, 0.553, 0, 0, -0.553, 0.833, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.833, 0.553, 0, 0, -0.553, 0.833, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    20% { -webkit-transform: matrix3d(0.866, 0.499, 0, 0, -0.499, 0.866, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.866, 0.499, 0, 0, -0.499, 0.866, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    28.33% { -webkit-transform: matrix3d(0.992, 0.129, 0, 0, -0.129, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.992, 0.129, 0, 0, -0.129, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    39.44% { -webkit-transform: matrix3d(0.999, -0.039, 0, 0, 0.039, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, -0.039, 0, 0, 0.039, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    61.66% { -webkit-transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    83.98% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
  @keyframes animation { 
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    0.64% { -webkit-transform: matrix3d(0.836, 0.557, 0, 0, -0.394, 0.924, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.836, 0.557, 0, 0, -0.394, 0.924, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    1.28% { -webkit-transform: matrix3d(0.447, 0.902, 0, 0, -0.776, 0.641, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.447, 0.902, 0, 0, -0.776, 0.641, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    2.54% { -webkit-transform: matrix3d(-0.455, 0.893, 0, 0, -0.951, -0.318, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.455, 0.893, 0, 0, -0.951, -0.318, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.78% { -webkit-transform: matrix3d(-0.971, 0.241, 0, 0, -0.288, -0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.971, 0.241, 0, 0, -0.288, -0.958, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.3% { -webkit-transform: matrix3d(-0.995, -0.1, 0, 0, 0.079, -0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.995, -0.1, 0, 0, 0.079, -0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    5.05% { -webkit-transform: matrix3d(-0.841, -0.54, 0, 0, 0.541, -0.841, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.841, -0.54, 0, 0, 0.541, -0.841, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.29% { -webkit-transform: matrix3d(-0.273, -0.962, 0, 0, 0.965, -0.263, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.273, -0.962, 0, 0, 0.965, -0.263, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    8.61% { -webkit-transform: matrix3d(0.722, -0.692, 0, 0, 0.69, 0.724, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.722, -0.692, 0, 0, 0.69, 0.724, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    11.29% { -webkit-transform: matrix3d(0.999, 0.041, 0, 0, -0.04, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0.041, 0, 0, -0.04, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    12.91% { -webkit-transform: matrix3d(0.946, 0.323, 0, 0, -0.322, 0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.946, 0.323, 0, 0, -0.322, 0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    16.3% { -webkit-transform: matrix3d(0.838, 0.546, 0, 0, -0.546, 0.838, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.838, 0.546, 0, 0, -0.546, 0.838, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    17.22% { -webkit-transform: matrix3d(0.833, 0.553, 0, 0, -0.553, 0.833, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.833, 0.553, 0, 0, -0.553, 0.833, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    20% { -webkit-transform: matrix3d(0.866, 0.499, 0, 0, -0.499, 0.866, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.866, 0.499, 0, 0, -0.499, 0.866, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    28.33% { -webkit-transform: matrix3d(0.992, 0.129, 0, 0, -0.129, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.992, 0.129, 0, 0, -0.129, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    39.44% { -webkit-transform: matrix3d(0.999, -0.039, 0, 0, 0.039, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, -0.039, 0, 0, 0.039, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    61.66% { -webkit-transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.003, 0, 0, -0.003, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    83.98% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
  