<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calendario</ion-title>
    <ion-buttons slot="end" *ngIf="false">
      <ion-back-button defaultHref="tabs/home" [text]=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-calendar [(ngModel)]="date"
      (change)="onChange($event)"
      [type]="type"
      [options]="optionsRange">
    </ion-calendar>

</ion-content>
