<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Richiedi Copie</ion-title>
    <ion-buttons slot="end" *ngIf="false">
      <ion-back-button defaultHref="tabs/home" [text]=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="showForm">

  <h4 class="text-align-center">Richiedi copie stampate del libretto delle preghiere</h4>

    <form #form="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Numero di copie del libretto</ion-label>
          <ion-input
            type="number"
            name="copies"
            #copies="ngModel"
            [(ngModel)]="myCopies"
            required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Nome</ion-label>
          <ion-input type="text"
            name="nome"
            #nome="ngModel"
            [(ngModel)]="myNome"
            required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Cognome</ion-label>
          <ion-input 
          type="text"
          name="cognome"
          #cognome="ngModel"
          [(ngModel)]="myCognome"
          required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Indirizzo</ion-label>
          <ion-input 
          type="text"
          name="indirizzo"
          #indirizzo="ngModel"
          [(ngModel)]="myIndirizzo"
          required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Citt&agrave;</ion-label>
          <ion-input 
          type="text"
          name="citta"
          #citta="ngModel"
          [(ngModel)]="myCitta"
          required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Provincia</ion-label>
          <ion-input 
          type="text"
          name="provincia"
          #provincia="ngModel"
          [(ngModel)]="myProvincia"
          required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">CAP</ion-label>
          <ion-input 
          type="text"
          name="cap"
          #cap="ngModel"
          [(ngModel)]="myCap"
          required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Stato</ion-label>
          <ion-input 
          type="text"
          name="stato"
          #stato="ngModel"
          [(ngModel)]="myStato"
          required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">E-mail</ion-label>
          <ion-input 
          type="email"
          pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
          name="email"
          #email="ngModel"
          [(ngModel)]="myEmail"
          required></ion-input>
        </ion-item>
      </ion-list>
    </form>
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-button expand="block" [disabled]="form.invalid" (click)="sendEmail()">Invia la richiesta</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

<ion-content class="ion-padding" *ngIf="!showForm && mailSent">
  <h4 class="text-align-center bold esito">Richiesta inviata con successo!</h4>
  <p class="text-align-center">
  <ion-text color="primary">La tua richiesta è stata inoltrata, riceverai risposta quanto prima.</ion-text>
  </p>
</ion-content>

<ion-content class="ion-padding" *ngIf="!showForm && !mailSent">
  <h4 class="text-align-center bold esito">Errore!</h4>
  <p class="text-align-center">
  <ion-text color="primary">Si è verificato un errore durante l'invio della mail, ti invitiamo a riprovare più tardi.</ion-text>
  </p>
</ion-content>
