ion-content {
    --background: url('../../../assets/imgs/backgr.jpg') 0 0/100% 100% no-repeat;
    --overflow: hidden;
    
    .container {
        position: relative;
        display: inline-block;
        margin-top: 50%;
        text-shadow: 2px 2px 2px #000000;
        .titolo {
            display: inline-block;
            padding: 20px;
            h1 {
                color: #fff;
                font-size: 2em;
            }
            h4 {
                color: #fff; 
            }
            p {
                color: #fff;
            }
        }
        
        .hands {
            position: absolute;
            width: 80px;
            height: 80px;
            background-image: url('../../../assets/imgs/hands.png'); 
            background-size: contain;
            background-repeat: no-repeat;
            right: -10px;
            bottom: -80px;
            //margin-right: 20px;
        }

        @media only screen 
        and (orientation: landscape) {
            margin-top: 0;

            .hands {
                right: -100px;
                bottom: 10px;
            }
        }
    }
}
