<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Parole di Cielo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="titolo">
      <h1 class="bold">Parole di Cielo</h1>
      <h4>per ogni giorno</h4>
      <p>OTTOBRE 2020 - SETTEMBRE 2021</p>
    </div>
    <div class="hands"></div>
  </div>
</ion-content>
