<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Preferiti</ion-title>
      <ion-buttons slot="end" *ngIf="false">
        <ion-back-button defaultHref="tabs/home" [text]=""></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list *ngIf="preghiere && preghiere.length > 0">
    <ion-item-sliding *ngFor="let p of preghiere" lines="full">
      <ion-item [routerLink]="[p.data]">
        <ion-label class="ion-text-wrap">
          <strong>{{p.data}}</strong> - {{p.abstract}}
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="rimuoviPreferito(p.data)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div class="empty-message" *ngIf="!preghiere || preghiere.length == 0">
    <h4 class="text-align-center semibold">Non ci sono vangeli o commenti salvati tra i preferiti.</h4>
    <p class="text-align-center">Aggiungi i vangeli che preferisci dalla sezione "calendario" dell'App.</p>
  </div>

</ion-content>
