/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Raleway-Bold';
    src: url('./assets/fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('./assets/fonts/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: 'Raleway-ExtraLight';
    src: url('./assets/fonts/Raleway-ExtraLight.ttf');
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('./assets/fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('./assets/fonts/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: 'Raleway-Thin';
    src: url('./assets/fonts/Raleway-Thin.ttf');
}

:root,
:root[mode="md"],
:root[mode="ios"] {
    --ion-h1-font-size: 1.9em;
    --ion-h3-font-size: 1.7em;
    --ion-h4-font-size: 1.5em;
    --ion-p-font-size: 1.2em;
    --ion-p-line-height: 1.4em;
    --ion-p-font-smaller: 1em;
    --ion-container-titolo-height: 150px;

    --ion-font-family: 'Raleway';
    font-family: var(--ion-font-family) !important;
    --ion-text-color: var(--ion-color-dark);

    ion-header {
        --ion-font-family: 'Raleway-Bold';
        font-family: var(--ion-font-family) !important;
    }

    h1 {
        font-size: var(--ion-h1-font-size);
    }
    
    h3 {
        font-size: var(--ion-h3-font-size);
    }
    
    h4 {
        font-size: var(--ion-h4-font-size);
    }
    
    p {
        font-size: var(--ion-p-font-size);
        line-height: var(--ion-p-line-height);
    }
}

ion-card {
    --ion-item-background: #fff;
}

.text-align-right {
    text-align: right;
}

.text-align-justify {
    text-align: justify !important;
}

.text-align-center {
    text-align: center !important;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-family: 'Raleway-Bold';
}

.semibold {
    font-family: 'Raleway-SemiBold';
}

.extrabold {
    font-family: 'Raleway-ExtraBold';
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-0 {
    margin: 0 !important;
}

ion-calendar { 
    .hasPrayer{ 
        border: 1px solid var(--ion-color-secondary) !important; 
    }
}
